<?xml version="1.0"?>
<Scenario>
  <GlobalInfo>
    <ScenarioID>15</ScenarioID>
    <FederationName>untiled</FederationName>
    <FOM>FOM.xml</FOM>
    <MaxStepCount>10000</MaxStepCount>
    <StepLength>0.1</StepLength>
    <LocalSettingDesignator>
    </LocalSettingDesignator>
    <PublishInteractionClassNames>
    </PublishInteractionClassNames>
    <SubscribeInteractionClassNames>
    </SubscribeInteractionClassNames>
    <SynchronizationPoints>
    </SynchronizationPoints>
  </GlobalInfo>
  <ModelInfo>
    <ModelExeConfig>
      <FederateName>成员:B</FederateName>
      <Is_CombineMember>0</Is_CombineMember>
      <FOM />
      <ModelID>1</ModelID>
      <ModelDBID>107</ModelDBID>
      <ModelName>B</ModelName>
      <ModelDLL>B.dll</ModelDLL>
      <LocalSettingDesignator>
      </LocalSettingDesignator>
      <IsTimeRegulating>1</IsTimeRegulating>
      <IsTimeConstrained>0</IsTimeConstrained>
      <Lookahead>1</Lookahead>
      <PublishObjectClassName />
      <SubscribeObjectClassNames />
      <PublishInteractionClassNames />
      <SubscribeInteractionClassNames />
      <SynchronizationPoints />
      <InputSources>
        <InputSource>2</InputSource>
        <InputSource>3</InputSource>
      </InputSources>
      <EventReceivers />
      <InitParameters>
        <Parameter>
          <Name>noinfoem</Name>
          <Label>
          </Label>
          <Value>
            <Type>noinfoem</Type>
            <Value>0/0</Value>
          </Value>
          <Physicsunit>
          </Physicsunit>
        </Parameter>
      </InitParameters>
      <InputParameters>
        <Parameter>
          <Name>noinfoem</Name>
          <Physics_Unit>
          </Physics_Unit>
          <Coefficient>
          </Coefficient>
          <InterfaceID>0</InterfaceID>
          <From>2-0</From>
          <To>1-0</To>
        </Parameter>
        <Parameter>
          <Name>noinfoem</Name>
          <Physics_Unit>
          </Physics_Unit>
          <Coefficient>
          </Coefficient>
          <InterfaceID>1</InterfaceID>
          <From>3-0</From>
          <To>1-1</To>
        </Parameter>
      </InputParameters>
      <OutputParameters>
        <Parameter>
          <Name>b_out</Name>
          <Physics_Unit>%</Physics_Unit>
          <InterfaceID>0</InterfaceID>
        </Parameter>
      </OutputParameters>
      <Display>
        <InputPara>
          <Name>noinfoem</Name>
          <Label>mh</Label>
          <Value>
            <Type>array</Type>
            <Value>
              <Type>noinfoem</Type>
              <Value>0</Value>
            </Value>
          </Value>
        </InputPara>
        <InputPara>
          <Name>noinfoem</Name>
          <Label>dh</Label>
          <Value>
            <Type>array</Type>
            <Value>
              <Type>noinfoem</Type>
              <Value>0</Value>
            </Value>
          </Value>
        </InputPara>
        <OutputPara>
          <Key>b_out</Key>
          <Length>0</Length>
          <BasicType>noinfoem</BasicType>
          <Label>c</Label>
        </OutputPara>
      </Display>
    </ModelExeConfig>
    <ModelExeConfig>
      <FederateName>成员:C</FederateName>
      <Is_CombineMember>0</Is_CombineMember>
      <FOM />
      <ModelID>2</ModelID>
      <ModelDBID>108</ModelDBID>
      <ModelName>C</ModelName>
      <ModelDLL>C.dll</ModelDLL>
      <LocalSettingDesignator>
      </LocalSettingDesignator>
      <IsTimeRegulating>1</IsTimeRegulating>
      <IsTimeConstrained>0</IsTimeConstrained>
      <Lookahead>1</Lookahead>
      <PublishObjectClassName />
      <SubscribeObjectClassNames />
      <PublishInteractionClassNames />
      <SubscribeInteractionClassNames />
      <SynchronizationPoints />
      <InputSources>
        <InputSource>1</InputSource>
      </InputSources>
      <EventReceivers />
      <InitParameters>
        <Parameter>
          <Name>noinfoem</Name>
          <Label>
          </Label>
          <Value>
            <Type>noinfoem</Type>
            <Value>0</Value>
          </Value>
          <Physicsunit>
          </Physicsunit>
        </Parameter>
      </InitParameters>
      <InputParameters>
        <Parameter>
          <Name>noinfoem</Name>
          <Physics_Unit>
          </Physics_Unit>
          <Coefficient>
          </Coefficient>
          <InterfaceID>0</InterfaceID>
          <From>1-0</From>
          <To>2-0</To>
        </Parameter>
      </InputParameters>
      <OutputParameters>
        <Parameter>
          <Name>c_out</Name>
          <Physics_Unit>N</Physics_Unit>
          <InterfaceID>0</InterfaceID>
        </Parameter>
      </OutputParameters>
      <Display>
        <InputPara>
          <Name>noinfoem</Name>
          <Label>c</Label>
          <Value>
            <Type>array</Type>
            <Value>
              <Type>noinfoem</Type>
              <Value>0</Value>
            </Value>
          </Value>
        </InputPara>
        <OutputPara>
          <Key>c_out</Key>
          <Length>0</Length>
          <BasicType>noinfoem</BasicType>
          <Label>cn</Label>
        </OutputPara>
      </Display>
    </ModelExeConfig>
    <ModelExeConfig>
      <FederateName>成员:C</FederateName>
      <Is_CombineMember>0</Is_CombineMember>
      <FOM />
      <ModelID>3</ModelID>
      <ModelDBID>108</ModelDBID>
      <ModelName>C</ModelName>
      <ModelDLL>C.dll</ModelDLL>
      <LocalSettingDesignator>
      </LocalSettingDesignator>
      <IsTimeRegulating>1</IsTimeRegulating>
      <IsTimeConstrained>0</IsTimeConstrained>
      <Lookahead>1</Lookahead>
      <PublishObjectClassName />
      <SubscribeObjectClassNames />
      <PublishInteractionClassNames />
      <SubscribeInteractionClassNames />
      <SynchronizationPoints />
      <InputSources>
        <InputSource>1</InputSource>
      </InputSources>
      <EventReceivers />
      <InitParameters>
        <Parameter>
          <Name>noinfoem</Name>
          <Label>
          </Label>
          <Value>
            <Type>noinfoem</Type>
            <Value>0</Value>
          </Value>
          <Physicsunit>
          </Physicsunit>
        </Parameter>
      </InitParameters>
      <InputParameters>
        <Parameter>
          <Name>noinfoem</Name>
          <Physics_Unit>
          </Physics_Unit>
          <Coefficient>
          </Coefficient>
          <InterfaceID>0</InterfaceID>
          <From>1-0</From>
          <To>3-0</To>
        </Parameter>
      </InputParameters>
      <OutputParameters>
        <Parameter>
          <Name>c_out</Name>
          <Physics_Unit>N</Physics_Unit>
          <InterfaceID>0</InterfaceID>
        </Parameter>
      </OutputParameters>
      <Display>
        <InputPara>
          <Name>noinfoem</Name>
          <Label>c</Label>
          <Value>
            <Type>array</Type>
            <Value>
              <Type>noinfoem</Type>
              <Value>0</Value>
            </Value>
          </Value>
        </InputPara>
        <OutputPara>
          <Key>c_out</Key>
          <Length>0</Length>
          <BasicType>noinfoem</BasicType>
          <Label>cn</Label>
        </OutputPara>
      </Display>
    </ModelExeConfig>
  </ModelInfo>
</Scenario>